{% extends 'base.html.twig' %}

{% block title %}Hello CompetenceController!{% endblock %}

{% block body %}
    <h1>Creation d'une competence</h1>
    {% if is_granted("Role_ADMIN") %}
    {{ form_start(form)}}
        {{form_row(form)}}
    <input type="submit">
    {{ form_end(form)}}
    {% endif %}
{% endblock %}
