<form method="post" action="{{ path('stagiaire_delete', {'id': stagiaire.id}) }}" onsubmit="return confirm('Veux tu vraiment supprimer le stagiaire?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stagiaire.id) }}">
    <button class="btn">Delete</button>
</form>
