{% extends 'base.html.twig' %}

{% block title %}Hello stagiaireController!{% endblock %}

{% block body %}
    <h1>Creation d'un stagiaire</h1>
    {{ form_start(form)}}
    {{form_row(form)}}
    <input type="submit">
    {{ form_end(form)}}
{% endblock %}