body
{
    background: url('images/fond_jaune.png');
}	
#bloc_page
{
    width: 800px;
    margin: auto;	
}
.menu
{
	display:flex;
	align-items:center;
	justify-content:space-around;
	color: #760001;	
}	

nav a
{
    font-size: 1.3em;
    color: #181818; 
	text-decoration:none;
	margin:30px 0px;
}
nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

aside
{
	float:left;
	height:300px;
	width:29%;
	font-size:0.7em;
	font-style:italic;	
}

